<div class="flexbox">
  <div class="side user">
	<%= render 'users/profile', user: @user %>
  </div>

  <div class="main">
  		<div class="box">
			<% @trips.each do |trip| %>
				<%= render 'trips/small_box', trip: trip %>
			<% end %>
		</div>
		<div class="page">
    	    <% if @previous_page >= 0  %>
         	  <%= link_to "Pre", "/trips/#{@previous_page}/", class: "btn-flat-border" %>
         	<% end %>
         	<% if @trips.length >= 10  %>
         		<%= link_to "NEXT", "/trips/#{@next_page}/", class: "btn-flat-border" %>
         	<% end %>
		</div>
  </div>
</div>