<h1>Trips#index</h1>
<div class="container">
	<div class="search-bar">
	<p>検索</p>
		<%= form_tag(trips_path,:method => 'get') do %>
		  <%= text_field_tag :search %>
		  <%= submit_tag 'Search', :trip_title => nil %>
		<% end %>
	</div>

	    <div class="box">
		<% @search_trips.each do |trip| %>
			<%= render 'trips/small_box', trip: trip %>
		<% end %>
		</div>

</div>