<div class="flexbox">
  <div class="side">
  	<%= render 'users/profile', user: @user %>
  </div>

  <div class="main">
  	<%= render 'trips/detail', trip: @trip, days: @days %>
  </div>
</div>