<div class="container-top">
	<h3>For Administrator</h3>
	<ul class="list-group">
	  <%= link_to admin_users_path do %><li class="list-group-item"> Users</li><% end %>
	  <%= link_to admin_cities_path do %><li class="list-group-item"> Cities</li><% end %>
	</ul>
</div>
