<h1>Users#edit</h1>
    <%= form_for(@user) do |f| %>
		<div>
		    <h4>Name</h4>
		    <%= f.text_field :nickname, class: "name" %>
		    <h4>Introduction</h4>
		    <%= f.text_area :introduce, class: "introduction" %>
		</div>
        <br><%= f.submit 'Update' %></br>

    <% end %>
