<% @user.followers.each do |user| %>
<div class="box">
  <div class="follow-user-box">
	<div class="profile-box">
  		<div class="profile TopLeft"><p>Travelar</p></div>
		<div class="profile TopRight"><%= user.user_image.attached? ? image_tag(user.user_image) : image_tag("no_user_image.jpg") %></div>
		<div class="profile BottomLeft">	  <div id="follow_form">
	    <% if current_user.following?(user) %>
	      <%= render 'unfollow', user: user %>
	    <% else %>
	      <%= render 'follow', user: user %>
	    <% end %>
	  </div></div>
		<div class="profile BottomRight"><%= link_to '詳細', user_path(user) %></div>
	</div>
  </div>
</div>
<% end %>