<h1>Users#top</h1>
    	<div class="header-bg">
    <div class="container">

      <h1 class="display-4">こんにちは!</h1>
      <p class="lead">さっそく旅行計画を作ってみよう！</p>
      <%= link_to "Lest's make a plan!!", new_trip_path, class: "btn-flat-border" %>
    </div>
    </div>

  <h2>お気に入りユーザーの新着</h2>
  <h2>お気に入りトリップ</h2>
  <h2>最近作成したトリップ</h2>