    <div class="header-bg">
	    <div class="container">
	      <div class="lead">旅行計画を作ってみよう！</div>
	      	<%= link_to "Lest's make a plan!!", new_trip_path, class: "btn-flat-border" %>
	    </div>
	    <div>
	      <%= link_to search_path(0), class: "btn-flat-logo-navy" do %>
	      	<i class="fas fa-search"> Search</i>
	      <% end %>
	    </div>
    </div>

  <h2>お気に入りユーザーの新着</h2>
  <h2>お気に入りトリップ</h2>
  <h2>最近作成したトリップ</h2>