<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city_name, class:"form-control", placeholder:"City Name", style:"width:60px" %><br>
    <%= link_to_remove_association "City Delete", f, class:"btn btn-danger", style:"margin-top:15px;" %>
  </div>
</div>