/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
	background-color: #F99695;
	margin-bottom: 0px;
	height: 70px;
}

.navbar-fixd-top {
	top: 0;
}
.navbar-left {
	color: #9d9d9d;
}

main {
	position: relative;
}

#notice {
	position: absolute;
	top: 0; left: 0;
	z-index: 30;
	width: 100%;
	background-color: #98fb98;
	color: #696969;
	text-align: center;
}

/* ボタン */
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #F0E68C;
  border: solid 2px #F0E68C;
  border-radius: 3px;
  transition: .4s;
  margin: 10px;
}

.btn-flat-border:hover {
  background: #F0E68C;
  color: white;
}
/* ボタン */

/* top */

.jumbotron {
  width: 100%;
  height: 500px;
  background:image-url("/images/top.jpg");
  background-size: cover;
  background-position: center 60%;
}
/* top */

/* form */
.trip-form  {
    padding: 0.5em 1em;
    color: #676F74;
    background: #8EDAE5;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    height: 300px;
}

.text {
	color: #000;
}
/* form */