/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    @import "bootstrap-sprockets";
    @import "bootstrap";
    @import "trips";
    @import "users";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;/*←全て含めてmin-height:100vhに*/
  position: relative;/*←相対位置*/
  box-sizing: border-box;
  padding-bottom: 100px;/*←footerの高さ*/
}
html, main, .flexbox {
  height: 100%;
}

/* users#top */
.header-bg {
 background-image : url("top.jpg");
 background-position: top center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
}
.container-top {
  width: 960px;
  margin: 0 auto;
  padding: 100px;
}
.container-horizon {
  width: 100%;
  padding: 10px 0;
}
.container-horizon:nth-child(odd) {
  background-color: #F7F0F0;
}
.container-inner {
  width: 960px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.top-link-box {
  width: 200px;
  height: 300px;
  margin: 1rem 3px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  background-color: #1D3461;
  position: relative;
}
.top-link-box:hover {
  box-shadow: 0px 20px 40px rgba(73,66,56,0.4);
}
.top-link-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  border-bottom: solid 1px #FFF;
}
.top-link-text {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #FFF;
  position: relative;
}
.top-link-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
  font-size: 20px;
  font-family: fantasy;
}
.top-link-more, .top-link {
  padding: 5px;
}
.top-under-area {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.top-under-area div {
  color: #FFF;
  font-family: fantasy;
}

header {
  background-color: #1D3461;
  margin-bottom: 0px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#notice {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 30;
  width: 100%;
  background-color: #FCFF4B;
  color: #000;
  text-align: center;
}

header i {
  color: #FFF;
  text-decoration: none;
}

.header-left i {
  font-size: 30px;
  text-decoration: none;
}
.header-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-link {
  margin: auto 10px;
  padding: 0 10px;
}

footer {
  width: 100%;
  background-color: #1D3461;
  color: #fff;
  text-align: center;
  padding: 40px 0;
  bottom: 0;
  height: 100px;
  position: absolute;
}

/* Responsive */
@media ( min-width : 600px ){
  .flexbox {
    display: -webkit-flex;
    display: flex;
  }
  .main {
    margin: 0 10px 0 0;
  }
}

/* top */
.lead {
  color: #FFF;
  padding: 20px;
}

/* 右メイン */
.main {
  width: 70%;
}
/* 左サイド */
.side {
  background-color: #306BAC;
  width: 30%;
}
.main,.side {
  padding: 2%;
}
.side-trip {
  background-color: #306BAC;
  width: 30%;
  height: 100vh;
  overflow: scroll;
}
/* 以下form */
.trip-form  {
  padding: 0.5em 1em;
  color: #676F74;
  background: #8EDAE5;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  height: 300px;
}
.text {
  color: #000;
}
/* 以上form */

/* 以下黄色スタートボタン */
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  color: #FFE74C;
  border: solid 2px #FFE74C;
  border-radius: 3px;
  transition: .4s;
  margin: 5px;
}

.btn-flat-border:hover {
  background: #FFE74C;
  color: white;
}
.btn-flat-border:hover a {
  text-decoration: none;
}
/* 以上黄色スタートボタン */

/* 上下線付きボタン（ヘッダー） */
.btn-horizontal-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 12px 20px 8px;
  text-decoration: none;
  color: #FFF;
  transition: .4s;
}

.btn-horizontal-border:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background: #FFF;
  transition: .2s;
}

.btn-horizontal-border:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:0;
  left: 0;
  border-radius: 3px;
  background: #FFF;
  transition: .2s;
}

.btn-horizontal-border:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.btn-horizontal-border:hover:after {
  top: 3px;
}
.btn-horizontal-border a {
  text-decoration: none;
}
/* 上下線付きボタン（ヘッダー） */

/* 以下（青）ロゴ風フラットボタン */
.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  color: #FFF;
  background: #306BAC;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #4091E8;
}
.btn-flat-logo a {
  text-decoration: none;
}
/* 以上ロゴ風フラットボタン */

/* 以下（紺）ロゴ風フラットボタン */
.btn-flat-logo-navy {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  color: #FFF;
  background: #1D3461;
  transition: .4s;
}

.btn-flat-logo-navy:hover {
  background: #6F7D9A;
}
.btn-flat-logo-navy a {
  text-decoration: none;
}
/* 以上ロゴ風フラットボタン */

/* 以下（緑）ロゴ風フラットボタン */
.btn-flat-logo-green {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  color: #FFF;
  background: #01796F;
  transition: .4s;
  margin: 5px;
}

.btn-flat-logo-green:hover {
  background: #74B5B0;
}
.btn-flat-logo-green a {
  text-decoration: none;
}
/* 以上ロゴ風フラットボタン */

/* 以下（赤）ロゴ風フラットボタン */
.btn-flat-logo-red {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  color: #FFF;
  background: #8D1717;
  transition: .4s;
  margin: 5px;
}

.btn-flat-logo-red:hover {
  background: #B66B6B;
}
.btn-flat-logo-red a {
  text-decoration: none;
}
/* 以上ロゴ風フラットボタン */

/* 以下（ピンク）ロゴ風フラットボタン */
.btn-flat-logo-pink {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  color: #FFF;
  background: #E56399;
  transition: .4s;
  margin: 5px;
}

.btn-flat-logo-pink:hover {
  background: #F0A9C7;
}
.btn-flat-logo-pink a {
  text-decoration: none;
}
/* 以上ロゴ風フラットボタン */

.page {
  text-align: center;
  margin: 10px;
}

/* modal */
.modal-body {
  text-align: center;
}
/* modal */