// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 左の計画 */
.plan-leftbar {
	width: 100%;
	height: 600px;
	orverflow: scroll;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #ff7d6e;
    background: #ffebe9;
    border-top: solid 10px #F99695;
}

/* 右の計画 */
.plan-rightbar {
	width: 100%;
	height: 600px;
	orverflow: scroll;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #ff7d6e;
    background: #8EDAE5;
    border-top: solid 10px #ff7d6e;
}

/* ボタン */
.btn-gradient-radius {
  display: inline-block;
  padding: 5px 50px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  margin: 5px;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}


/* 右の入力 */
.field {
	margin: 10px;
}

/* 左のリスト */
.plan-list {
	margin-top: 5px;
}
