// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-index {
	margin: 0 auto;
}

.search-bar {
	margin: 10px;
}

/* Styling */
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.plan-box {
  width: 200px;
  height: 300px;
  margin: 1rem 3px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
}
.plan-box:hover {
  box-shadow: 0px 20px 40px rgba(73,66,56,0.4);
}

.photo-image img {
  width: 100%;
  height: 120px;
  border-radius: 5px 5px 0 0;
}
.trip-area {
  height: 150px;
  padding: 10px;
}
.under-area {
  display: flex;
  justify-content: space-between;
}

.likes {
  padding-left: 10px;
}
.trip-title {
  height: 50px;
  padding: 3px;
  font-size: 16px;
}
.trip-details {
  padding: 3px;
  display: flex;
  flex-direction: row;
}
.trip-details-text {
  padding-left: 2px;
  font-size: 12px;
}

.day-area {
  display: flex;
  justify-content: space-between;
}
.day {
  font-size: 12px;
  position: top -10px;
}

.day-no {
  font-size: 24px;
}





.underArea a {
	text-decoration: none;
}