// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-index {
	margin: 0 auto;
}

.search-bar {
	margin: 10px;
}

/* Styling */
.box {
  display: flex;
  padding: 5px;
  border: solid 1px;
}
.box-text{
	width: 100%;
}

.index-user {
	text-align: right;
}